vlan_definitions:
  - id: 10
    name: "{{ vault_config.vlans.vlan_10.name }}"
  - id: 20
    name: "{{ vault_config.vlans.vlan_20.name }}"
  - id: 30
    name: "{{ vault_config.vlans.vlan_30.name }}"
  - id: 40
    name: "{{ vault_config.vlans.vlan_40.name }}"
  - id: 41
    name: "{{ vault_config.vlans.vlan_41.name }}"
  - id: 50
    name: "{{ vault_config.vlans.vlan_50.name }}"

trunk_ports:
  - GigabitEthernet1/0/1
  - GigabitEthernet2/0/1
  - GigabitEthernet1/0/2
  - GigabitEthernet2/0/2

poweredge_ports:
  - GigabitEthernet1/0/37

access_ports:
  valinor:
    - GigabitEthernet1/0/37
  rivendell: []
  bree: []
  moria: []
  barad-dur: []
  mordor: []
