# Proxmox cluster nodes
proxmox_nodes:
  - hostname: node_1
    ip: 10.0.1.10
    roles:
      - master
    interfaces:
      - name: vmbr0
        vlan: 10
        ip: 10.0.1.100/24
        gateway: 10.0.1.1
      - name: vmbr1
        vlan: 20
        ip: 10.0.2.100/24

  - hostname: node_2
    ip: 10.0.1.11
    roles:
      - worker
    interfaces:
      - name: vmbr0
        vlan: 10
        ip: 10.0.1.101/24
        gateway: 10.0.1.1

# Cluster configuration
cluster:
  name: production_cluster
  nodes:
    - node_1
    - node_2
  quorum_device: true

# Storage configuration
storage:
  - name: local
    type: dir
    path: /var/lib/vz

  - name: nfs_storage
    type: nfs
    server: 10.0.1.20
    export: /mnt/nfs

# VM templates mapped by VM ID
vm_templates:
  101:
    name: ubuntu_template
    iso_path: local:iso/ubuntu-22.04.iso
    memory: 2048
    cores: 2
    net:
      - bridge: vmbr0
        model: virtio
  102:
    name: windows_template
    iso_path: local:iso/windows2022.iso
    memory: 4096
    cores: 4
    net:
      - bridge: vmbr1
        model: e1000

# Cluster-wide settings
backup:
  retention: 7
  schedule: "0 3 * * *"

logging:
  syslog_enabled: true
  syslog_server: 10.0.1.100
  level: info
