---
# Proxmox cluster nodes
proxmox_nodes:
  - hostname: proxmox_1
    ip: 192.168.40.10
    roles:
      - master
    interfaces:
      - name: vmbr0
        vlan: 10
        ip: 192.168.10.100/24
        gateway: 192.168.10.1
      - name: vmbr1
        vlan: 20
        ip: 192.168.20.100/24

  - hostname: proxmox_2
    ip: 192.168.40.11
    roles:
      - worker
    interfaces:
      - name: vmbr0
        vlan: 10
        ip: 192.168.10.101/24
        gateway: 192.168.10.1

# Cluster configuration
cluster:
  name: my_proxmox_cluster
  nodes:
    - proxmox_1
    - proxmox_2
  quorum_device: true

# Storage config (example)
storage:
  - name: local
    type: dir
    path: /var/lib/vz

  - name: prox_nfs
    type: nfs
    server: 192.168.10.20
    export: /mnt/nfs

# VM templates mapped by VM ID
vm_templates:
  101:
    name: ubuntu-template
    iso_path: local:iso/ubuntu-22.04.iso
    memory: 2048
    cores: 2
    net:
      - bridge: vmbr0
        model: virtio
  102:
    name: windows-template
    iso_path: local:iso/windows2022.iso
    memory: 4096
    cores: 4
    net:
      - bridge: vmbr1
        model: e1000

# Cluster-wide settings
backup:
  retention: 7
  schedule: "0 3 * * *" # daily at 3 AM

logging:
  syslog_server: 192.168.10.100
  level: info
