---
- name: Configure Proxmox Cluster Nodes
  hosts: proxmox_nodes
  gather_facts: yes
  become: yes

  tasks:
    - name: Ensure Proxmox repositories are configured
      apt_repository:
        repo: deb http://download.proxmox.com/debian/pve bullseye pve-no-subscription
        state: present
      when: ansible_os_family == 'Debian'

    - name: Update package cache
      apt:
        update_cache: yes
      when: ansible_os_family == 'Debian'

    - name: Configure network bridges for VLANs
      template:
        src: templates/proxmox_network.j2
        dest: /etc/network/interfaces
        backup: yes
      notify: restart networking
      when: proxmox_nodes is defined

    - name: Configure Proxmox cluster
      shell: |
        pvecm create {{ cluster.name }}
      register: cluster_result
      failed_when: cluster_result.rc not in [0, 17]  # 0 = success, 17 = already exists
      when: inventory_hostname == groups['proxmox_nodes'][0]

    - name: Join cluster nodes
      shell: |
        pvecm add {{ groups['proxmox_nodes'][0] }}
      when: inventory_hostname != groups['proxmox_nodes'][0]

    - name: Configure storage
      shell: |
        pvesm add {{ item.type }} {{ item.name }} \
          -path {{ item.path | default(omit) }} \
          -server {{ item.server | default(omit) }} \
          -export {{ item.export | default(omit) }}
      loop: "{{ storage }}"
      ignore_errors: yes

    - name: Ensure cluster backup schedule is configured
      cron:
        name: "Proxmox cluster backup"
        special_time: daily
        hour: 3
        minute: 0
        job: "/usr/local/bin/proxmox-backup.sh"
        user: root

  handlers:
    - name: restart networking
      service:
        name: networking
        state: restarted
